{% load bw_templatetags %}
<div class="bw-selectable-object with-actions{% if marked_removed %} marked-for-removal{% endif %}" data-object-id="{{ sound.id }}">
    <div style="min-width: 0;width:100%;">
        {% include "sounds/display_sound.html" %}
    </div>
    <div class="bw-object-actions">
        {% if show_featured %}
        <button type="button" class="btn-inverse featured-toggle{% if is_featured %} active{% endif %}" data-action="featured"{% if featured_disabled %} disabled{% endif %}>
            <span class="label-default">Make Featured</span>
            <span class="label-hover">Make Featured</span>
            <span class="label-active-default">Featured</span>
            <span class="label-active-hover">Unfeature</span>
        </button>
        {% endif %}
        <button type="button" class="btn-inverse remove-toggle{% if marked_removed %} active{% endif %}" data-action="removed" title="Remove from {{ grid_object_name }}" data-container-active-class="marked-for-removal" data-active-title="Undo removal">
            <span class="label-default">{% bw_icon 'trash' %}</span>
            <span class="label-hover">Undo</span>
        </button>
    </div>
</div>
